body{
    font-family: 'Open Sans',sans-serif;
}
a{
    text-decoration: none;
}
    
.Row{
    margin: -10px;
}
.body{
    
}
.row__box{
    display: flex;
}
.product{
    padding: 5px;
    width: 280px;
}
.product__description > a{
    
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    height: 44px;
    overflow: hidden;
    color: #000;
    margin-bottom: 27px;
}
.product__description{
    width: 230px;
    margin: 0 auto;
    padding: 0px 5px;
    display: block;
}
.product__starbox{
    display: inline-block;
    border: 1px #e3e3e3 solid;
    background: #f7f7f7;
    width: 280px;
}
.product__price__buyholder{
    padding-bottom: 10px;
}    
.product__price{
    float: left;
    width: 50%;
}


.price--redused{
    display: block;
    font-size: 12px;
    color: #5F5F5F;
    text-decoration: line-through;
    text-align: center;
    height: 17px;
}
.price--actual{
    display: block;
    font-size: 25px;
    color: #222222;
    line-height: 25px;
}
.product__buy{
    width: 50%;
    float: right;
    padding-top: 17px;
}
    

.stock{
    margin: 0 auto;
    text-align: center;
}

.rating{
    float: left;
    width: 50%;
    box-shadow: 1px 0 0 0 #e3e3e3;
    text-align: center;
}
.button--buy{
    background: #4BB900 url(../img/cart_green.png) left 15px center no-repeat;
    height: 40px;
    width: 100%;
    padding-left: 35px;
    background-size: 18px;

    border-radius: 2px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    animation: .3s;
}


.product__starbox{


}

