body{
    font-family: 'Open Sans',sans-serif;
}
a{
    text-decoration: none;
}

.Row{
    margin: -10px;
}
.row__box{
    display: flex;
}
.product{
    padding: 5px;
    width: 280px;
}
.product__description > a{
    
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    height: 44px;
    overflow: hidden;
    color: #000;
    margin-bottom: 27px;
}
.product__description{
    width: 230px;
    margin: 0 auto;
    padding: 0px 5px;
    display: block;
    height: 71px;
}
.product__starbox{
    border: 1px #e3e3e3 solid;
    background: #f7f7f7;
}
.product__price__buyholder{
    padding-bottom: 10px;
}    
.product__price{
    float: left;
    width: 50%;
}
.link--text{
    display: block;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    height: 44px;
    overflow: hidden;
    color: #000;
    margin-bottom: 27px;
    padding: 0px 5px;
}
.product__stickers{
    position: absolute;
    top: 5;
    width: 45px;
}
.not_stared{
    display: block;
    width: 103px;
    height: 17px;
    background: url(../img/stars_norate.png) left center no-repeat;
    background-size: 103px 17px;
}
.product__stock{
    position: relative;
}
.clearfix{
    clear: both;
}

.sticker--list{
    padding-left: 0px;
    margin-left: 0px;
    list-style-type: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.sticker{
    width: 45px;
}
.price--redused{
    display: block;
    font-size: 12px;
    color: #5F5F5F;
    text-decoration: line-through;
    text-align: center;
    height: 17px;
}
.price--actual{
    display: block;
    font-size: 25px;
    color: #222222;
    line-height: 25px;
}
.product__buy{
    width: 50%;
    float: right;
    padding-top: 17px;
}
    
.rating{
    float: left;
    width: 50%;
    text-align: center;
    box-shadow: 1px 0 0 0 #e3e3e3;
    padding: 11px;

}
.stock{
    color: orange;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 35px;
    position: relative;
}
.button--buy{
    background: #4BB900 url(../img/cart_green.png) left 15px center no-repeat;
    height: 40px;
    width: 100%;
    padding-left: 35px;
    background-size: 18px;

    border-radius: 2px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    animation: .3s;
}

.clearfix::after{
    clear: both;
}

.clearfix::after .clearfix::before{
    content: " ";
    display: table;
}
